.logo-img {
  height: 56px;
  width: 80px;
  object-fit: cover;
  border-radius: 10%;
}

.bg-header {
  background-color: #262626;
  opacity: 0.95;
}

.bg-dam {
  background-color: rgb(253, 0, 13, 255);
}


.btn-dam {
  background-color: rgb(253, 0, 13, 255);
  color: white;
  border-color: transparent;
  opacity: 0.9;
}


.second-title {
  padding-left: 10px;
}

.vl {
  border-left: 6px solid rgb(253, 0, 13, 255);
  ;
}

.cover-title {
  text-shadow: 0 0 16px rgba(0, 0, 0, .75);
  color: #fff;
}

/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/* Content containers */
.layout-container {
  margin-top: 80px;
}

.page-container {
  min-height: 90vh;
  width: 100%;
  margin-bottom: 50px;
}

.section-container {
  display: flow-root;
  margin-left: 8vw;
  margin-right: 8vw;
}

.disabled-link {
  cursor: initial;
}

hr {
  border-top: #212121 solid 4px;
}

figure img {
  border-radius: 20px;
}

address span {
  font-size: 1.5em;
}

address a {
  display: inline-block;
  margin-bottom: 5px;
}

.error-messages {
  text-align: center;
  margin-top: 30vh;
}

/* Flow up animation for page opening */
@keyframes flowUp {
  from {
    opacity: 0;
    transform: translate3d(0%, 25%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.page-enter-active {
  animation: flowUp 0.2s;
}