@font-face {
    font-family: "Avenir";
    src: local("Avenir"), url(~assets/Avenir/Avenir-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "ArianaVioleta";
    src: local("ArianaVioleta"), url(~assets/ArianaVioleta/ArianaVioleta.ttf) format("truetype");
}